# .clang-format

# Specify the formatting style. Here, we use LLVM style.
BasedOnStyle: LLVM

# Set the column limit (maximum line width).
ColumnLimit: 140

# Indentation width (number of spaces for each level of indentation).
TabWidth: 4
IndentWidth: 4
IndentAccessModifiers: false
AccessModifierOffset: -4

# Whether to use spaces or tabs for indentation.
UseTab: Never

BreakBeforeBraces: Allman

AllowShortFunctionsOnASingleLine: None

AllowShortIfStatementsOnASingleLine: false

NamespaceIndentation: All

BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma

FixNamespaceComments: false

PointerAlignment: Right

Cpp11BracedListStyle: false

AlignArrayOfStructures: Left